[submodule "lib/interfaces"]
	path = lib/interfaces
	url = https://github.com/connext/interfaces
[submodule "lib/v2-palm"]
	path = lib/v2-palm
	url = https://github.com/ArrakisFinance/v2-palm
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
